# Add any directories, files, or patterns you don't want to be tracked by version control
/CarExampleProject/nbproject/private/
/CarExampleProject/dist/
/CarExampleProject/build/
/Game/nbproject/private/
/Game/dist/
/Game/build/

.idea/
